@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*section-1 css stylesheet begin*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.section-1{
    background-color: #1f2937;
}

#header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-link{
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
}

.navigation-bar-left,.navigation-bar-right{
    display: flex;
    width: 50%;
    justify-content: center; /*horizontal alignment*/
    align-items: center; /*vertical alignment*/
}

h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

p{
    font-size: 18px;
    color: #e9e7eb;
}

.content{
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.content-right{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.content-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 300px;
}

img{
    margin-bottom: 50px;
}

.p-first{
    font-size: 18px;
    color: #e9e7eb;
}

.sign-up-1st{
    background-color: #3882f6;
    color: #e9e7eb;
    width: 120px;
    height: 40px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

.sign-up-1st{border-radius: 12px;}

/*section-1 css style sheet end*/

/*section-2 css style sheet start*/

.section-2{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.four-boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 100px;
    align-items: center;
}

.p-2{
    color: #1f2937;
    text-align: center;
    font-size: 18px;
}

.box{
    border: 3px solid #3882f6;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}